<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Enter the length of the password ?</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters</label
          >
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers</label
          >
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols</label
          >
        </div>
      </div>

      <!-- to watch for some kind of event occur on this element, use paranthesis, event binding -->
      <div>
        <button
          [disabled]="
            !(length && (includeLetters || includeSymbols || includeNumbers))
          "
          (click)="onButtonClick()" class="button is-link is-fullwidth"
        >
          Generate!
        </button>
      </div>

      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <!-- property binding -->
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>

